body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(214, 214, 214);
}

footer {
  margin: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link, a {
  text-decoration: underline;
  color: inherit;
  transition-duration: .4s;
}
.link:hover, a:hover {
  background-color: #198a2b;
}

button {
  padding: 1em 2em;
  border: none;
  background-color: rgb(154, 154, 154);
  transition-duration: .4s;
}
button:hover {
  background-color: #198a2b;
  color: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.358);
}